@model cloudscribe.Pagination.Models.PagedResult<ServiceRequest>

@{
    List<User> users = ViewBag.users;
    List<ServiceRequestAddress> addresses = ViewBag.addresses;
    var i = 0;

}
<div class="">

    <div class="row mx-0 justify-content-between tab-heading">

        <div class="col-auto ps-0">
            <p class="title"> New Service Request</p>
        </div>

        <div class="col-auto pe-0">
            <div class="dropdown sorting-dropdown">
                <button type="button" class="btn p-0" data-bs-toggle="dropdown">
                    <img src="~/Images/sort.png" alt="">
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1"
                                   name="optradio" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Service Id:
                                Ascending
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1"
                                   name="optradio" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Service Id:
                                Descending
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1"
                                   name="optradio" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Service date:
                                Latest
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1"
                                   name="optradio" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Service date:
                                Oldest
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1"
                                   name="optradio" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Customer details: A
                                to Z
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1"
                                   name="optradio" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Customer details: Z
                                to A
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1"
                                   name="optradio" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Distance:
                                Shortest
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1"
                                   name="optradio" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Distance:
                                Longest
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="row row1 mx-0">

        <div class="col-12 col-md-auto px-0">
            <p class="mb-0 text">
                Service area
                <select class="form-select select d-inline mx-1"
                        aria-label="Default select example">
                    <option>2 km</option>
                    <option>5 km</option>
                    <option selected>10 km</option>
                    <option>15 km</option>
                    <option>20 km</option>
                </select>
            </p>
        </div>

        <div class="col-12 col-md-auto px-0">
            @*@Html.CheckBox("hasPet", ViewBag.hasPet, new { @class = "form-check-input mx-1 d-inline-block", id = "hasPetCheck", onchange = "AddPet()" })*@

            <input class="form-check-input mx-1 d-inline-block" type="checkbox" name="hasPet" data-hasPet="@ViewBag.hasPet"
                   id="hasPetCheck" onchange="AddPet(this)">
            <p class="mb-0 text d-inline-block mt-2 align-center">

                Include Pet at Home
            </p>
        </div>
    </div>

    <div class="row mx-0 mt-1">
        <div id="errorAccept" class="alert alert-danger d-none" role="alert">

        </div>
        <table class="table table-borderless mt-2">

            <thead class="table-head">
                <tr>
                    <th class="">
                        <a class="table-link" data-ajax="true" data-ajax-success="SpTab2Success" asp-controller="ServiceProvider" asp-action="GetNewServices"
                           asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize" asp-route-sortBy="ServiceRequestId"
                           asp-route-sortOrder="@ViewBag.ServiceRequestIdsortOrder">
                            Service
                            ID
                            @if (ViewBag.sortBy == "ServiceRequestId")
                            {
                                <img class="ms-2" src="~/Images/sort.png" alt="" width="14"
                                     height="14">
                            }
                        </a>
                    </th>
                    <th class="">
                        <a class="table-link" data-ajax="true" data-ajax-success="SpTab2Success" asp-controller="ServiceProvider" asp-action="GetNewServices"
                           asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize" asp-route-sortBy="ServiceStartDate"
                           asp-route-sortOrder="@ViewBag.ServiceRequestDatesortOrder">
                            Service
                            Date
                            @if (ViewBag.sortBy == "ServiceStartDate")
                            {
                                <img class="ms-2" src="~/Images/sort.png" alt="" width="14"
                                     height="14">
                            }
                        </a>
                    </th>
                    <th class="w-auto">
                        <a class="table-link" data-ajax="true" data-ajax-success="SpTab2Success" asp-controller="ServiceProvider" asp-action="GetNewServices"
                           asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize" asp-route-sortBy="UserId"
                           asp-route-sortOrder="@ViewBag.UserIdsortOrder">
                            Customer Details
                            @if (ViewBag.sortBy == "UserId")
                            {
                                <img class="ms-2" src="~/Images/sort.png" alt="" width="14"
                                     height="14">
                            }
                        </a>
                    </th>
                    <th class="">
                        <a class="table-link" data-ajax="true" data-ajax-success="SpTab2Success" asp-controller="ServiceProvider" asp-action="GetNewServices"
                           asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize" asp-route-sortBy="Payment"
                           asp-route-sortOrder="@ViewBag.PaymentsortOrder">
                            Payment
                            @if (ViewBag.sortBy == "Payment")
                            {
                                <img class="ms-2" src="~/Images/sort.png" alt="" width="14"
                                     height="14">
                            }
                        </a>
                    </th>
                    <th class="">
                        <a class="table-link" href="#">
                            Time
                            Conflict
                        </a>
                    </th>
                    <th class=""><a class="table-link" href="#">Actions</a></th>
                </tr>
            </thead>

            <tbody class="table-body">

                @foreach (ServiceRequest serviceRequest in Model.Data)
                {
                    var ids = serviceRequest.ServiceRequestId;
                    var startDateTime = serviceRequest.ServiceStartDate;
                    var date = startDateTime.ToString("dd/MM/yyyy").Replace("-", "/");
                    var time = startDateTime.ToString("HH:mm");
                    double totalhour = Convert.ToDouble(serviceRequest.ServiceHours + serviceRequest.ExtraHours);

                    var endTime = startDateTime.AddHours(totalhour).ToString("HH:mm");

                    <tr>

                        <td class='clickable-row p-0' id="@ids" data-id="@ids" data-from="row" data-tab="2" onclick="showSpDetails(this)">
                            <p class="table-data">@serviceRequest.ServiceRequestId</p>
                        </td>

                        <td class='clickable-row p-0' id="@ids" data-id="@ids" data-from="row" data-tab="2" onclick="showSpDetails(this)">
                            <div class="container-fluid table-data">
                                <div class="row mx-0">
                                    <div class="col-auto px-0">
                                        <img class="d-flex calender-img px-0"
                                             src="~/Images/calendar.png" alt="">
                                    </div>
                                    <div class="col px-0 ps-1">
                                        <p class="d-flex m-0"><b>@date</b></p>
                                    </div>
                                </div>

                                <div class="row mx-0 mt-2">
                                    <div class="col-auto px-0">
                                        <img class="d-inline" src="~/Images/clock.png" alt=""
                                             width="17" height="17">
                                    </div>
                                    <div class="col px-0 ps-1">
                                        <p class="mb-0">@time - @endTime</p>
                                    </div>
                                </div>

                            </div>
                        </td>

                        <td class='clickable-row p-0' id="@ids" data-id="@ids" data-from="row" data-tab="2" onclick="showSpDetails(this)">
                            <div class="container-fluid table-data">
                                <div class="row mx-0">
                                    <div class="col px-0">
                                        <p class="d-flex m-0">@users[i].FirstName @users[i].LastName</p>
                                    </div>
                                </div>
                                <div class="row mx-0 mt-2">
                                    <div class="col-auto px-0">
                                        <img class="d-inline" src="~/Images/home.png" alt=""
                                             width="22" height="22">
                                    </div>
                                    <div class="col px-0 ps-1">
                                        <p class="mb-0 mt-1">@addresses[i].AddressLine1 @addresses[i].AddressLine2, @addresses[i].City @addresses[i].PostalCode</p>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td class="p-0">
                            <p class="table-data">@serviceRequest.TotalCost €</p>
                        </td>

                        <td class="p-0">
                            @*<p class="table-data"> Conflict</p>*@
                        </td>

                        <td class="p-0 bb-none">
                            <div class="container-fluid table-data">
                                <div class="row mx-0">
                                    <div class="col-12 col-md-auto px-0 mb-1 text-center">
                                        <a class="btn complete-btn" data-ajax="true" data-ajax-method="get" data-ajax-success="AcceptSuccess" data-ajax-failure="AcceptFailure"
                                           asp-controller="ServiceProvider" asp-action="Accept" asp-route-serviceRequestid="@ids">Accept</a>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>


    <div class="row row3 mx-0 justify-content-between">
        <div class="col-12 col-md-auto mb-2 mb-md-0">
            <div class="row mx-0 px-0 text-center">
                <p class="mb-0 text d-block mx-auto">
                    Show
                    @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "5", 5 }, { "10", 10 }, { "20", 20 }, { "100", 100 } }, "Key", "Value", Model.PageSize),
                           new { @class = "form-select select pagination-select d-inline mx-1", id = "pagesizelist", onchange = "callSpPageSize(this,2)" })

                    entries Total Record: @Model.TotalItems
                </p>
            </div>

        </div>

        <div class="col-12 col-md-auto">
            <cs-pager id="paging" cs-paging-pagenumber=(int)Model.PageNumber
                      cs-paging-totalitems=(int)Model.TotalItems
                      cs-paging-pagesize=Model.PageSize
                      cs-pagenumber-param="pagenumber"
                      asp-controller="ServiceProvider"
                      asp-action="GetNewServices"
                      cs-ajax-target="#new-service-request"
                      cs-show-first-last=true
                      cs-first-page-text='<span class="pag-first-page"></span>'
                      cs-last-page-text='<span class="pag-last-page"></span>'
                      cs-previous-page-text='<span class="pag-pre-page"></span>'
                      cs-next-page-text='<span class="pag-next-page"></span>'
                      cs-pager-li-current-class="page-item active"
                      cs-pager-li-other-class="page-item"
                      cs-pager-li-non-active-class="page-item disabled"
                      cs-pager-link-current-class="page-link"
                      cs-pager-link-other-class="page-link">
            </cs-pager>

        </div>
    </div>
</div>
